table {
    border-collapse: collapse;
}

table, th, td {
   border: 1px solid black;
}

.dygraph-legend {
    /*background-color: rgba(200, 200, 255, 0.75) !important;*/
    background-color: rgba(255, 255, 255, 0.6) !important;
    /*opacity: 0.5;*/
    border: 1px solid #000;
    border-radius: 10px;
    /*box-shadow: 4px 4px 4px #888;*/
    padding: 4px;
    /*pointer-events: none;*/
}

img.product-image {
    max-height: 90px;
    max-width: 90px;
}

#graphdiv {
    margin-top: 20px;
}

#labelsDiv {
    margin-left: 80px;
}

.is-marked {
    /*font-weight: bold;*/
    background-color: lemonchiffon;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}

/*.product-name {
    text-decoration: none;
}*/

.product-class {
    color: gray;
}
