<div ng-cloak>
    <h1>Current Data</h1>
    @*<h2>{{locationId}}</h2>
    <h2>{{productTypeId}}</h2>
    <h2>{{products.length}}</h2>*@
    <select ng-model="locationId" ng-change="updatePath()">
        <option ng-repeat="location in locations" value="{{location.LocationId}}">{{location.Name}}</option>
    </select>
    <select ng-model="productTypeId" ng-change="updatePath()">
        <option ng-repeat="productType in productTypes" value="{{productType.ProductTypeId}}">{{productType.Name}}</option>
    </select>
    <input type="text" ng-model="searchFilter" ng-model-options="{ debounce: 500 }" />
    <input type="number" ng-model="minPrice" ng-model-options="{ debounce: 1000 }" />
    <input type="number" ng-model="maxPrice" ng-model-options="{ debounce: 1000 }" />
    @*<table>
        <tr>
            <th>DataSourceId</th>
            <th>LocationId</th>
            <th>Name</th>
            <th>Price</th>
            <th>ProductId</th>
            <th>ProductTypeId</th>
            <th>Rating</th>
            <th>Timestamp</th>
        </tr>
        <tr ng-repeat="product in products">
            <td>{{product.DataSourceId}}</td>
            <td>{{product.LocationId}}</td>
            <td>{{product.Name}}</td>
            <td>{{product.Price}}</td>
            <td>{{product.ProductId}}</td>
            <td>{{product.ProductTypeId}}</td>
            <td>{{product.Rating}}</td>
            <td>{{product.Timestamp | date:'d MMM HH:mm'}}</td>
        </tr>
    </table>*@
    <table>
        <tr>
            <th></th>
            <th ng-click="order('ProductName')">
                Product
                <span class="sortorder" ng-show="predicate === 'ProductName'" ng-class="{reverse:reverse}"></span>
            </th>
            <th ng-click="order('Rating')">
                Rating
                <span class="sortorder" ng-show="predicate === 'Rating'" ng-class="{reverse:reverse}"></span>
            </th>
            <th ng-click="order('MinPrice')">
                Min Price
                <span class="sortorder" ng-show="predicate === 'MinPrice'" ng-class="{reverse:reverse}"></span>
            </th>
            <th ng-repeat="dataSource in dataSources">{{dataSource.Name}}</th>
        </tr>
        @*| orderBy:['-IsMarked','ProductName']*@
        <tr ng-repeat="productGroup in productGroups | filter:searchFilter | filter:priceFilter | orderBy:predicate:reverse">
            <td><input type="checkbox" ng-model="productGroup.IsMarked" ng-change="mark(productGroup)" /></td>
            <td ng-class="{'is-marked' : productGroup.IsMarked}">
                <a class="product-name" ng-href="~/ProductDetails/{{locationId}}/{{productGroup.ProductId}}">
                    {{productGroup.ProductName}}
                </a>
                <span class="product-class" ng-show="productGroup.ProductClass">
                    , {{productGroup.ProductClass}}
                </span>
                <span class="product-class" ng-show="productGroup.ProductCode">
                    , [{{productGroup.ProductCode}}]
                </span>
            </td>
            <td>{{(productGroup.Rating > 0 ? productGroup.Rating : null) | number:1}}</td>
            <td>{{productGroup.MinPrice}}</td>
            <td ng-repeat="dataSource in dataSources" ng-style="{{productGroup.Records[dataSource.DataSourceId].Style}}">
                {{productGroup.Records[dataSource.DataSourceId].Price}}
                @*<br/>
                {{productGroup.Records[dataSource.DataSourceId].Rating > 0 ? productGroup.Records[dataSource.DataSourceId].Rating : "&nbsp;"}}*@
            </td>
        </tr>
    </table>
</div>