<div ng-cloak>
    <h1>Current Data</h1>
    @*<h2>{{locationId}}</h2>
    <h2>{{productTypeId}}</h2>
    <h2>{{products.length}}</h2>*@
    <select ng-model="locationId" ng-change="updatePath()">
        <option ng-repeat="location in locations" value="{{location.LocationId}}">{{location.Name}}</option>
    </select>
    <select ng-model="productTypeId" ng-change="updatePath()">
        <option ng-repeat="productType in productTypes" value="{{productType.ProductTypeId}}">{{productType.Name}}</option>
    </select>
    <input type="text" ng-model="searchFilter.ProductName" />
    @*<table>
        <tr>
            <th>DataSourceId</th>
            <th>LocationId</th>
            <th>Name</th>
            <th>Price</th>
            <th>ProductId</th>
            <th>ProductTypeId</th>
            <th>Rating</th>
            <th>Timestamp</th>
        </tr>
        <tr ng-repeat="product in products">
            <td>{{product.DataSourceId}}</td>
            <td>{{product.LocationId}}</td>
            <td>{{product.Name}}</td>
            <td>{{product.Price}}</td>
            <td>{{product.ProductId}}</td>
            <td>{{product.ProductTypeId}}</td>
            <td>{{product.Rating}}</td>
            <td>{{product.Timestamp | date:'d MMM HH:mm'}}</td>
        </tr>
    </table>*@
    <table>
        <tr>
            <th>Product</th>
            <th ng-repeat="dataSource in dataSources">{{dataSource.Name}}</th>
        </tr>
        <tr ng-repeat="productGroup in productGroups | filter:searchFilter">
            <td>{{productGroup.ProductName}}</td>
            <td ng-repeat="dataSource in dataSources">
                {{productGroup.Records[dataSource.DataSourceId].Price}}
                @*<br/>
                {{productGroup.Records[dataSource.DataSourceId].Rating}}*@
            </td>
        </tr>
    </table>
</div>